@charset "utf-8";
/*font-family: 'Nanum Gothic', sans-serif;	
font-family: 'Jua', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Trispace', sans-serif;*/

*{margin: 0 auto; padding: 0; font-family: 'Nanum Gothic', sans-serif; max-width: 3000px;}
::-webkit-scrollbar{width: 18px;}
::-webkit-scrollbar-thumb{background-color: #aaa; border-radius: 10px; background-clip: padding-box; border: 4px solid transparent;}
::-webkit-scrollbar-track {background-color: #ddd; border-radius: 10px; box-shadow: inset 0px 0px 5px white;}

/*main*/
#main_wrap{width: 100%; min-width: 1200px; max-width: 3000px; height: 200px; background: url(../images/menu01_main.png) no-repeat center center; background-size: cover;}
#main{width: 1200px; height: 200px; margin: 0 auto; position: relative;}
#main p:nth-child(1){
	position: absolute; left: 20px; bottom: 50px;
	color: white; font-size: 16px; line-height: 24px; text-shadow: 2px 2px 2px #555;
}
#main p:nth-child(2){
	position: absolute; left: 20px; bottom: 20px;
	color: white; font-size: 12px; letter-spacing: 8px;
	background-color: rgba(204,204,204,0.5); padding: 2px 2px 2px 10px; text-shadow: 1px 1px 1px #555;
}

/*road*/
#road{width: 1200px; height: 700px; margin: 0 auto; position: relative;}
#road>h1{opacity: 0; text-align: center; padding: 40px 0;}
#road iframe{width: 50%;}
#road table{width: 50%;}

/*태블릿사이즈 ~960px */
@media screen and (max-width:960px){
    #main_wrap{max-width: 960px; min-width: 561px;}
    #main{max-width: 960px; min-width: 561px; width: 100%;}
    #road{width: 100%; max-width: 960px; min-width: 561px; height: 1050px;}
    #road iframe{width: 100%; max-width: 960px; min-width: 561px;}
    #road table{width: 100%; max-width: 960px; min-width: 561px;}
}

/*모바일사이즈 ~560px */
@media screen and (max-width:560px){
    #main_wrap, #main{max-width: 560px; min-width: 300px; position: relative; top: -50px;}
    #main p:nth-child(1){top: 155px; left: 10px;}
    #main p:nth-child(2){bottom: -40px; left: 10px;}
    #road{max-width: 560px; min-width: 300px; margin: 0 auto; position: relative; height: 1000px;}
    #road>h1{margin-top: -20px; padding: 0; padding-bottom: 30px;}
    #road iframe{max-width: 560px; min-width: 300px;}
    #road table{max-width: 560px; min-width: 300px;}
}