@charset "utf-8";
/*font-family: 'Nanum Gothic', sans-serif;	
font-family: 'Jua', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Trispace', sans-serif;
font-family: 'Gamja Flower', cursive;*/

*{margin: 0 auto; padding: 0; font-family: 'Nanum Gothic', sans-serif; max-width: 3000px;}
::-webkit-scrollbar{width: 18px;}
::-webkit-scrollbar-thumb{background-color: #aaa; border-radius: 10px; background-clip: padding-box; border: 4px solid transparent;}
::-webkit-scrollbar-track {background-color: #ddd; border-radius: 10px; box-shadow: inset 0px 0px 5px white;}

/*main*/
#main_wrap{width: 100%; min-width: 1200px; max-width: 3000px; height: 200px; background: url(../images/menu05_main.png) no-repeat center center; background-size: cover;}
#main{width: 1200px; height: 200px; margin: 0 auto; position: relative;}
#main p:nth-child(1){
	position: absolute; left: 20px; bottom: 50px;
	color: white; font-size: 16px; line-height: 24px; text-shadow: 2px 2px 2px #555;
}
#main p:nth-child(2){
	position: absolute; left: 20px; bottom: 20px;
	color: white; font-size: 12px; letter-spacing: 8px;
	background-color: rgba(204,204,204,0.5); padding: 2px 2px 2px 10px; text-shadow: 1px 1px 1px #555;
}

/*volunteer*/
#volunteer{width: 1200px; margin: 0 auto; position: relative; height: 1050px;}
#volunteer h1{text-align: center; padding: 40px 0; color: black; opacity: 0;}
#photo{width: 1200px; margin: 0 auto; text-align: center; margin-bottom: 20px;}
#info{width: 60%; float: left; margin-left: 2%; margin-top: 10px;}
#info h2{padding-left: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; color: #777; font-family: 'Jua', sans-serif; font-weight: normal;}
#info h3{padding-left: 10px; padding-top: 15px; color: #777; font-family: 'Jua', sans-serif; font-weight: normal; font-size: 22px;}
#info p{ padding-left: 25px; padding-top: 15px; color: #555; line-height: 26px; text-align: justify; padding-bottom: 10px; border-bottom: 1px solid #ccc;}

/*태블릿사이즈 ~960px */
@media screen and (max-width:960px){
    #main_wrap{max-width: 960px; min-width: 561px;}
    #main{max-width: 960px; min-width: 561px; width: 100%;}
    #volunteer{max-width: 960px; min-width: 561px; width: 100%;}
    #photo{max-width: 960px; min-width: 561px; width: 100%;}
	#info{width: 90%; margin-left: 5%; margin-right: 5%;}
	#volunteer{height: 1100px;}
	#photo img{width: 100%;}
}

/*모바일사이즈 ~560px */
@media screen and (max-width:560px){
    #main_wrap, #main{max-width: 560px; min-width: 300px; position: relative; top: -50px;}
    #main p:nth-child(1){top: 155px; left: 10px;}
    #main p:nth-child(2){bottom: -40px; left: 10px;}
    #volunteer{max-width: 560px; min-width: 300px;}   
    #volunteer>h1{margin-top: -20px; padding: 0; padding-bottom: 30px;}
	#photo{max-width: 560px; min-width: 300px;}
}